css part of gallery
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== NAVBAR ===== */
.custom-navbar {
    background: linear-gradient(90deg, #000000, #1a0000);
    border-bottom: 2px solid red;
}

.logo {
    height: 45px;
    border-radius: 50%;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.15);
}

.brand-text {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link {
    color: white !important;
    font-weight: 600;
    transition: 0.3s;
}

.nav-link:hover {
    color: red !important;
    text-transform:uppercase;
    font-weight:bolder;
}

.btn-danger {
    border-radius: 6px;
}

.btn-danger:hover{
    text-transform:uppercase;
}

/* ===== SECTION TITLE ===== */
.section-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'prague';
}

/* ===== EVENT CARD ===== */
.event-card {
    background-color: #181515;
    border: 1px solid red;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
}

.event-title {
    text-align: center;
    margin-bottom: 20px;
    font-family:'prague';
    color:white;
}

.event-desc {
    text-align: center;
    font-size: 18px;
    color: #cccccc;
    margin-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ===== GALLERY IMAGES ===== */
.gallery-img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid red;
    transition: 0.4s;
}

.gallery-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px white;
}

/* ===== RESPONSIVE IMPROVEMENTS ===== */
@media (max-width: 768px) {
    .brand-text {
        font-size: 14px;
    }

    .section-title {
        font-size: 22px;
    }

    .event-desc {
        font-size: 16px;
    }
}